<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome you are a the home page!</p>
    <form action="/search" method="get">
        <input type="text" name="searchItem" placeholder="Name" required>
        <button type="submit">Search</button>
    </form>
    <% if(locals.users) {%>
        <p><%= users %></p>
    <% } %>
    <form action="/delete" method="get">
        <button type="submit">Delete All users</button>
    </form>
    <a href="/new">Create user</a>
</body>
</html>