<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome you are a the home page!</p>
    <% if(locals.users) {%>
        <p><%= users %></p>
    <% } %>
    <a href="/new">Create user</a>
</body>
</html>