<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/new" method="POST">
        <input type="text" name="username" placeholder="Amanuel" required>
        <button type="submit">Add user</button>
    </form>
    <a href="/">back home</a>
</body>
</html>