<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% if (locals.result) {%>
            <% result.forEach((user) => { %>
              <li>ID: <%= user.id %> <%= user.username %> </li>
            <% }); %>
        <% } %>
    </ul>
    <a href="/">Back home</a>
</body>
</html>